.main {
    width: 70%;
    margin: 100px auto;
}


.hidden {
    display: none;
}

.error {
    color: red;
    font-weight: bold;
    width: 30%;
    margin-top: 20px;
    margin-left: 35%;
}

table {
    border-collapse: collapse;
    border: 2px solid lightblue;
    letter-spacing: 1px;
    font-size: 2 rem;
    width: 100%;
  }
  
  td, th {
    border: 1px solid lightblue;;
    padding: 10px 20px;
  }
  
  th {
    background-color: lightblue;
  }
  
  td {
    text-align: center;
  }

  .deleteBtn {
      background-color: red;
  }

  .updateBtn {
    background-color: lightgreen;
}

button {
  font-size: 20px;
}